Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Add NFS retry loop for cache lookups to handle directory attribute caching
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add docker daemon wait loop before BuildKit initialization
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Extract shared build-deps stage to deduplicate Snappy and CMake builds
  Dockerfile.ci-base-image
Due: none

Fix submodule orphan cleanup with increased maxdepth
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Clean orphaned submodules after removing corrupt .git
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Fix docker login to use --password-stdin for better shell escaping
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

docs: document extract-test-cache.sh and exact cache key matching
  docs/haf-app-testing.md
Due: none

Add change detection rules to skip unnecessary CI jobs
  .gitlab-ci.yml
Due: none

Add HAF_CACHE_TYPE variable and fetch all build scripts from hive
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Set rebaseWhen to conflicted to reduce CI load
  renovate/default.json5
Due: none

Fix pg_tblspc symlink race condition in cache extraction
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Schedule hiveio-ecosystem Renovate updates to weekly
  renovate/python.json5
Due: none

Replace 'standard' tag with 'public-docker-runner' in CI templates
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix pre_get_sources to detect incomplete clones
  .gitlab-ci.yml
Due: none

Add PostgREST configuration pattern for HAF apps
  docs/haf-app-testing.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add hive.blog registry push to build_and_publish_instance.sh
  haf-app-tools/scripts/build_and_publish_instance.sh
Due: none

Add haf-app-test-runner shared image for HAF applications
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

docs: add Phase 4 migration examples and update guides
  docs/haf-app-testing-templates.md
  docs/haf-app-testing.md
Due: none

Fix race condition in local tar creation during cache save
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix cache-manager tar extraction failure silently ignored
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add verify_submodule_ref GitLab CI templates
  templates/verify_submodule_ref.gitlab-ci.yml
Due: lint_ci_templates

Fix tar extraction race condition in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix copy_datadir.sh cache extraction issues
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix cross-device hardlink failure: fall back to symlink
  scripts/prepare_data_and_shm_dir.sh
Due: lint_bash_scripts

Add verify_submodule_ref.sh script
  scripts/bash/verify_submodule_ref.sh
Due: lint_bash_scripts

Use latest docker-dind/docker-builder tags for build jobs
  .gitlab-ci.yml
Due: none

Add Phase 2: Flatten Include Hierarchy to roadmap
  docs/ci-consolidation-roadmap.md
Due: none

Fix Docker data directory permission issues in pattern tests
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Auto-detect COMMON_CI_GITHUB_PAGES_REF from submodule
  templates/github_pages.gitlab-ci.yml
Due: lint_ci_templates

Add sync after datadir copy to prevent PostgreSQL DataCorrupted errors
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix: Robust credential helper handling in wiki push cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Fix submodule transition detection to not break uninitialized submodules
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Add image cache lookup scripts and templates
  CLAUDE.md
  docs/image-cache-lookup.md
  scripts/bash/find-last-source-commit.sh
  scripts/bash/find-upstream-image.sh
  scripts/bash/get-cached-image.sh
  templates/source_change_detection.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix: add retry logic to PostgreSQL check in extract-test-cache.sh
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

Fix race condition: check cache inside flock, not before
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add retry logic to docker push for transient registry failures
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Optimize OpenSSL build for minimal WASM size
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_openssl.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix block_log linking to check for block_log files, not any blockchain contents
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add sccache to emsdk image for WASM build caching
  Dockerfile.emscripten
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Fix build_image_remover_image to use latest docker images
  .gitlab-ci.yml
Due: none

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
