Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Add haf_data_preparation.gitlab-ci.yml template
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add GitHub Pages documentation deployment scripts and templates
  scripts/github-pages/deploy_github_pages.sh
  scripts/github-pages/doc-index-template.html
  scripts/github-pages/generate_html_docs.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix: use Docker bridge gateway when IPv6 detected in DinD
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add emscripten user creation for emsdk 5.x compatibility
  Dockerfile.emscripten
Due: none

Move git cleanup templates to base.gitlab-ci.yml, add aliases in haf_app_testing
  templates/base.gitlab-ci.yml
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add Ubuntu-based ci-base-image variant with PostgreSQL 18
  .gitlab-ci.yml
  Dockerfile.ci-base-image-ubuntu
  docker-bake.hcl
Due: none

Move BUILDX_NO_DEFAULT_ATTESTATIONS to docker-builder image
  Dockerfile.docker-builder
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix stale lock file handling in build_data.sh
  scripts/build_data.sh
Due: lint_bash_scripts

fix: clean local cache directories before copy to prevent nesting
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix: Prevent corrupted HAF caches from being saved
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix(find_haf_image): fail fast when no HAF image available
  templates/haf_app_testing.gitlab-ci.yml
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Add --version flag to process_openapi.py for API version override
  haf-app-tools/python/process_openapi.py
Due: none

Replace ccache with sccache in ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

fix: update tavern/pytest versions for Python 3.12+ compatibility
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix stale cache extraction causing PostgreSQL tablespace conflicts
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: use BusyBox-compatible grep for Docker bridge gateway
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Try different approach to disable credential helper
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

feat: add Python, JMeter, and psql to docker-builder image
  Dockerfile.docker-builder
Due: none

Fix NFS block_log path and make it configurable
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Bump Emscripten compiler version from 4.0.22 to 5.0.2
  Dockerfile.emscripten
  docker-bake.hcl
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

feat: add FORCE_EXTRACT option and pre-extraction cleanup
  docs/haf-app-testing.md
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

Replace Renovate count limits with hourly rate limits
  .gitlab-ci.yml
  renovate/default.json5
Due: none

Build Doxygen from source for glibc 2.28 compatibility
  Dockerfile.ci-base-image
Due: none

Fix NFS cache directory permissions for multi-UID access
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix poetry.lock artifact path to respect PYPROJECT_DIR
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix shm_dir location in cache structure
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add hive.blog registry login to publish template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

fix: resolve NFS symlinks and update default cache limits
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add hived user to ci-base-image for hive builds
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Bump ci-base-image version to pypa_2_28-4
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add schemas, beekeeper and wax repositories to Renovate bot processing
  .gitlab-ci.yml
Due: none

Add chromium-headless-shell browser to emsdk image
  Dockerfile.emscripten
Due: none

Add GNU parallel to ci-base-image
  Dockerfile.ci-base-image
Due: none

fix: use localhost unconditionally when IPv6 detected in DinD
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Remove incorrect SHA from emsdk image tag (use tag only for now)
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Update Playwright to 1.57.0 and bump image tag to 4.0.22-4
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  pnpm-config/pnpm-workspace.yaml
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add completion marker to prevent using incomplete cache extractions
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add SKIP_DOCKER_BUILDS variable to skip image builds
  .gitlab-ci.yml
Due: none

Add stale lock checks before flock operations in cache-manager
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: add safe.directory config to fetch-submodules.sh
  scripts/fetch-submodules.sh
Due: lint_bash_scripts
