Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Removed trailing spaces in CI template and incorect slashes in CI configuration - ref. hive/hive#406
  .gitlab-ci.yml
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Operate on separate virtualenv from the very beggining
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Set explicit version 0.3.2 of pylint_junit
  .gitlab-ci.yml
Due: none

Pinned example jobs to specific hive and haf commits and expanded README - ref. hive/hive#406
  .gitlab-ci.yml
  README.md
Due: none

Docker and script definitions for emscripten toolset (including precompiled boost openssl and sec256k1 libraries)
  Dockerfile.emscripten
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_boost.sh
  scripts/bash/emscripten/prepare_openssl.sh
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

EMSCRIPTEN_IMAGE_TAG bumped to 3.1.56
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Updated scripts to account for Dockerfile changes - ref. hive/hive#406
  scripts/bash/build-data.sh
  scripts/bash/build-instance.sh
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

emsdk image bumped to 3.1.51 version
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Added custom sections to build log - ref. hive/hive#406
  .gitlab-ci.yml
  scripts/bash/build-data.sh
  scripts/bash/build-data4commit.sh
  scripts/bash/build-instance.sh
  scripts/bash/export-binaries.sh
  scripts/bash/get-image4submodule.sh
Due: lint_bash_scripts

Updated custom Docker builder image to use non-root user - ref. hive/hive#406
  Dockerfile.docker-builder
Due: none

Added example jobs - ref. hive/hive#406
  .gitlab-ci.yml
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Moved default job configuration to a separate YAML file and added default job timeout - ref. #1
  .gitlab-ci.yml
  templates/base.gitlab-ci.yml
  templates/docker_image_jobs.gitlab-ci.yml
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fixed .build_docker_image job definition - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

Improved Gitlab healtchecks integration to the app container performing setup.
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Defined common base job to perform a WASM specific build
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Added Docker image for running Apache JMeter benchmarks - ref. hive/hive#406
  .gitattributes
  .gitignore
  .gitlab-ci.yml
  Dockerfile.benchmark-test-runner
Due: none

Made jobs interruptible by default - ref. #4
  templates/base.gitlab-ci.yml
  templates/docker_image_jobs.gitlab-ci.yml
  templates/python_projects.gitlab-ci.yml
  templates/test_jobs.gitlab-ci.yml
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Configured Docker builds to use cache from previous images
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

Added Tox image, job templates and test job - ref. hive/hive#406
  .gitlab-ci.yml
  Dockerfile.tox-test-runner
  docker-bake.hcl
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Extend build and deploy python wheel jobs templates so they include build version in artifacts dotenv
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Updated build_emsdk_image job rules
  .gitlab-ci.yml
Due: none

Added musl-dev to tox-test-runner
  Dockerfile.tox-test-runner
Due: none

Emscripten image extended by yarn tool.
  Dockerfile.emscripten
Due: none

Updated the benchmark image and job template - ref. hive/hive#406
  Dockerfile.benchmark-test-runner
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

interruptible flag specified also for .job-defaults base
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

1. Added job template to perform verification of pyproject.toml and poetry.lock files sanity. 2. Default python image used for CI upgraded to version ubuntu22.04-8
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Dockerized currently existing jobs - ref. hive/hive#406
  .gitattributes
  .gitignore
  .gitlab-ci.yml
  .pylintrc
  Dockerfile
  README.md
  misc/docker-compose.dind.yml
  scripts/bash/build-data.sh
  scripts/bash/build-data4commit.sh
  scripts/bash/build-instance.sh
  scripts/bash/common.sh
  scripts/bash/delete-image.sh
  scripts/bash/docker_image_utils.sh
  scripts/bash/export-binaries.sh
  scripts/bash/get-image4submodule.sh
  scripts/python/delete-image.py
  scripts/python/requirements.txt
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Added optional ability to specify a directory to pyproject.toml location while processing a configuration_template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Added coreutils package due to hive/scripts needs where realpath --relative-base has been used
  Dockerfile.docker-builder
Due: none

Updated Emscripten image building job to only run if there are changes - ref. !12
  .gitlab-ci.yml
Due: none

Added Docker image publishing job template - ref. hive#434
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Remove tail from npm pack package script
  scripts/bash/npm-helpers/npm_pack_package.sh
Due: lint_bash_scripts

Updated emsdk image tag to be used as default by npm based CI pipelines.
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Updated EMSCRIPTEN_IMAGE_TAG
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bumped EMSCRIPTEN_IMAGE_TAG variable to use emsdk:3.1.56-2
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bumped emscripten image tag due to added helper npm script
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

npm_generate_version.sh adjusted to non annotated tags having no taggerdate, so its sorting was invalid. Also prerequisites to generate version for swagger.json files.
  scripts/bash/npm-helpers/npm_generate_version.sh
Due: lint_bash_scripts

pnpm package manager tool upgraded to version 9.1.1 in the emsdk image. Also it is deployed using corepack for better convenience
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Use pnpm for publishing and packing purposes instead of npm
  scripts/bash/npm-helpers/npm_pack_package.sh
  scripts/bash/npm-helpers/npm_publish.sh
Due: lint_bash_scripts

PYPROJECT_DIR should default to CI_PROJECT_DIR instead of pwd (which can be random actually)
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
