Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Fix HAF_COMMIT variable inheritance in haf_commit_validation template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add default HIVE_SCRIPTS_REF to prepare_haf_image template
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix sync save cache to remove symlinks before copying block_log
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Update roadmap: Phase 1 and Phase 2 completed
  docs/ci-consolidation-roadmap.md
Due: none

Fix NFS block_log path and simplify cache handling
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Extract cache directly to job directory
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Copy NFS tar to local before extracting for faster I/O
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix NFS block_log path and make it configurable
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix detect_changes to not override AUTO_CACHE_HAF_COMMIT in auto mode
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Phase 3: Add/improve reusable YAML blocks
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

docs: update roadmap to reflect Phase 3 completion
  docs/ci-consolidation-roadmap.md
Due: none

Fix typo in docstring to trigger python-scripts image rebuild
  scripts/python/remove-buildkit-cache.py
Due: lint_python_scripts

Fix build_image_remover_image to use latest docker images
  .gitlab-ci.yml
Due: none

Fix Docker build rules to use $CI_DEFAULT_BRANCH
  .gitlab-ci.yml
Due: none

feat: add Phase 4 DinD test templates for HAF apps
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

docs: update roadmap for Phase 4 progress
  docs/ci-consolidation-roadmap.md
Due: none

fix: prevent race condition when copying NFS cache to local
  scripts/cache-manager.sh
Due: lint_bash_scripts

docs: update roadmap with Phase 4 migration completions
  docs/ci-consolidation-roadmap.md
Due: none

docs: add Phase 4 migration examples and update guides
  docs/haf-app-testing-templates.md
  docs/haf-app-testing.md
Due: none

Add haf-app-tools: shared utilities for HAF applications
  docs/haf-app-tools-migration.md
  haf-app-tools/README.md
  haf-app-tools/config/config_5M.ini
  haf-app-tools/python/process_openapi.py
  haf-app-tools/python/requirements.txt
  haf-app-tools/scripts/common.sh
  haf-app-tools/scripts/copy_datadir.sh
  haf-app-tools/scripts/create_haf_app_role.sh
Due: none

Add runtime fetch of run_hived_img.sh for HAF apps without hive submodule
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add hived data preparation template for submodule-free HAF apps
  haf-app-tools/README.md
  haf-app-tools/config/hived_config_5M.ini
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix shm_dir location in cache structure
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix cache-manager to preserve RocksDB directories in hive/haf caches
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix blockchain dir ownership for symlink creation
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix NFS fallback path for replay_data_hive cache
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add image cache lookup scripts and templates
  CLAUDE.md
  docs/image-cache-lookup.md
  scripts/bash/find-last-source-commit.sh
  scripts/bash/find-upstream-image.sh
  scripts/bash/get-cached-image.sh
  templates/source_change_detection.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Use full 40-char commit hash in find-upstream-image.sh
  scripts/bash/find-upstream-image.sh
Due: lint_bash_scripts

Fix block_log linking to check for block_log files, not any blockchain contents
  scripts/cache-manager.sh
Due: lint_bash_scripts

Upgrade Python to 3.14 in python_runtime and python_development images
  Dockerfile.python_runtime
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

Use latest docker-dind/docker-builder tags for build jobs
  .gitlab-ci.yml
Due: none

emsdk version bumped to 4.0.22
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Reduced size of precompiled static lookup tables in the secp256k1-zkp library. Allows to eliminate > 1.1MB of data segment put into produced WASM binary.
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Preparing for bump to version emscripted/emsdk:4.0.22.
  Dockerfile.emscripten
Due: none

Updated EMSCRIPTEN_IMAGE_TAG to use new image across other repos.
  pnpm-config/.devcontainer/devcontainer.json
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add fallback logic to find-upstream-image for timing races
  scripts/bash/find-upstream-image.sh
  templates/source_change_detection.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix: use git -C to avoid changing working directory
  scripts/bash/find-upstream-image.sh
Due: lint_bash_scripts
