Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Added MetaMask extension to the preconfigured extension list
  scripts/bash/npm-helpers/npm_download_browser_extensions.sh
Due: lint_bash_scripts

Updated python runtime image version to 3.12
  Dockerfile.python
  docker-bake.hcl
Due: none

Updated emsdk image reference
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Improved devcontainer definition to make possible starting UI apps from dev container
  pnpm-config/.devcontainer/devcontainer.json
Due: none

Playwright toolset bumped in base workspace configuration
  pnpm-config/pnpm-workspace.yaml
Due: none

pnpm workspace package specification can scan also subdirectories
  pnpm-config/pnpm-workspace.yaml
Due: none

Add HAF application testing templates
  CLAUDE.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add PYTHON_VERSION variables, document ci-base-image as source of truth
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump default wax-spec-generator version to 1.7.0
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add util-linux to docker-dind for proper NFS flock support
  Dockerfile.docker-dind
Due: none

Updated tsx version to eliminate vulnerable dependency reported by dependabot
  pnpm-config/pnpm-workspace.yaml
Due: none

Add skip variables to deployment templates
  README.md
  templates/docker_image_jobs.gitlab-ci.yml
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

Updated python dev. image to use registry.gitlab.syncad.com/hive/hive/ci-base-image:ubuntu24.04-2
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

pure_docker_image_builder_job_template supplemented by FF_NETWORK_PER_BUILD
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add libpq-dev for psycopg2-binary Python 3.14 builds
  Dockerfile.ci-base-image
Due: none

Added preinstalled browser extensions to the emsdk docker image
  Dockerfile.emscripten
Due: none

Bump wax spec generator default version to fix wax-spec-generator errors
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Use absolute version specifiers in pnpm workspace
  pnpm-config/pnpm-workspace.yaml
Due: none

Added templates specific for web app automatic deployments (to be used for denser and wallet-dapp)
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump emscripten image tag
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Defined build procedure for python_development and python_runtime images
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

Updated ruff command spawn to satisfy this tool new version
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add tablespace handling to cache-manager.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Local alpine image used at cleanup jobs
  templates/cache_cleanup.gitlab-ci.yml
Due: lint_ci_templates

Fix cache-manager errexit on _check_stale_lock return
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add poetry and git to python image
  Dockerfile.python
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

Remove --replay-blockchain from test service commands
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Bump CI base image version to -2 (includes libpq-dev)
  docker-bake.hcl
Due: none

Move supplement doc url to build job base
  scripts/bash/npm-helpers/npm_push_doc.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix NFS cache lock timeouts and add stale lock cleanup
  scripts/cache-manager.sh
Due: lint_bash_scripts

Eliminated poetry self update executed at CI every time, to make job execution stable.
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix image usage docs: all Python images are in use
  docs/common-ci-images.md
Due: none

Updated emsdk docker image tag
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix HAF cache handling for all cache types (haf_pipeline, haf_filtered, etc.)
  scripts/cache-manager.sh
Due: lint_bash_scripts

pnpm-workspace.yaml should specify more strict source directories to avoid looking too deep into submodules not intended to be included in build process.
  pnpm-config/pnpm-workspace.yaml
Due: none

Remove BusyBox flock fallback, require util-linux
  docs/cache-manager.md
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add git fetch strategy and pre_get_sources_script hook
  .gitlab-ci.yml
Due: none

Emscripten bump to 4.0.18
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Updated Python Image tag to use U24.04 version
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
