Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Limit Renovate throughput to reduce CI load
  renovate/default.json5
Due: none

Add PostgreSQL 18 development packages to ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Fix race condition in HAF cache creation with concurrent pipelines
  scripts/build_data.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add hived data preparation template for submodule-free HAF apps
  haf-app-tools/README.md
  haf-app-tools/config/hived_config_5M.ini
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix smart-image-build skipping rebuild when source files changed
  scripts/bash/smart-image-build.sh
Due: lint_bash_scripts

Add CI fast healthcheck override to sync setup template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Skip Docker image builds on Renovate runs without requiring SKIP_DOCKER_BUILDS
  .gitlab-ci.yml
Due: none

Add build_emscripten_image.sh to emsdk job trigger paths
  .gitlab-ci.yml
Due: none

Add modular dependency update anchors for poetry
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add retry and pip cache to Python project templates
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Handle OpenAPI 3.1.0 nullable type lists in SQL generation
  haf-app-tools/python/process_openapi.py
Due: none

Trigger emsdk image rebuild for revision 5
  Dockerfile.emscripten
Due: none

Bump emsdk image revision to 4.0.22-5
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Make cache-manager put fail when NFS push fails
  scripts/cache-manager.sh
Due: lint_bash_scripts

haf-app-test-runner: run as hived user for NFS compatibility
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

Add centralized prepare_haf_data templates with standard needs
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fail verify_poetry_lock_stability when poetry.lock is not found
  scripts/bash/verify_poetry_lock_stability.sh
Due: lint_bash_scripts

Fix GitLab CI YAML parsing issue with after_script in extends chains
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Bump ci-base-image version to ubuntu24.04-py3.14-3
  docker-bake.hcl
Due: none

Add LINT_EXCLUDE_PATHS variable to bash lint template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Remove variable re-declarations that break protected CI vars
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add shared block_log linking for HAF cache extraction
  scripts/cache-manager.sh
Due: lint_bash_scripts

Remove time-based staleness check from copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix GitLab CI YAML validation error in after_script
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix race condition in HAF cache extraction with concurrent jobs
  scripts/cache-manager.sh
Due: lint_bash_scripts

Bump emsdk image tag to 4.0.22-6 to invalidate runner cache
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add convenience aliases and unified config template for HAF apps
  CLAUDE.md
  docs/haf-app-testing-templates.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Normalize version format and add dynamic subdirs listing
  scripts/github-pages/deploy_github_pages.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add smart-image-build script and template for intelligent Docker builds
  scripts/bash/smart-image-build.sh
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix cache validation to check integrity, not just directory existence
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add sync job component templates for HAF apps
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add prepare_data_and_shm_dir.sh script
  scripts/prepare_data_and_shm_dir.sh
Due: lint_bash_scripts

Fix cache cleanup to also remove orphaned tar files not in LRU index
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix buildkit_cache_cleanup to use latest image tag
  .gitlab-ci.yml
Due: none

Fix SIGPIPE error in detect_changes when many files changed
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix workspace permission issue in docker-builder jobs
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Use echo pipe instead of here-string for docker login
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Simplify detect_changes template to match app patterns
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add template and script to detect unstable dependency versions in poetry.lock
  scripts/bash/verify_poetry_lock_stability.sh
  templates/python_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add haf-app-tools: shared utilities for HAF applications
  docs/haf-app-tools-migration.md
  haf-app-tools/README.md
  haf-app-tools/config/config_5M.ini
  haf-app-tools/python/process_openapi.py
  haf-app-tools/python/requirements.txt
  haf-app-tools/scripts/common.sh
  haf-app-tools/scripts/copy_datadir.sh
  haf-app-tools/scripts/create_haf_app_role.sh
Due: none
