Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Fix detect_changes to not override AUTO_CACHE_HAF_COMMIT in auto mode
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Preparing for bump to version emscripted/emsdk:4.0.22.
  Dockerfile.emscripten
Due: none

Ensure shm_dir exists after cache extraction
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: prevent race condition when copying NFS cache to local
  scripts/cache-manager.sh
Due: lint_bash_scripts

Use dynamic HAF_COMMIT in AUTO_SKIP_SYNC mode
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix NFS fallback path for replay_data_hive cache
  haf-app-tools/scripts/copy_datadir.sh
Due: none

fix: support both HAF-style and app-style pgdata paths in extract-test-cache.sh
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

fix: resolve symlinks before du in status and cleanup
  scripts/cache-manager.sh
Due: lint_bash_scripts

Install clang via dnf instead of pre-built LLVM binaries
  Dockerfile.ci-base-image
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

fixup! Add preinstalled RocksDB build stage to ci-base-image
  Dockerfile.ci-base-image
Due: none

Fix HAF_COMMIT variable inheritance in haf_commit_validation template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add docker login to publish_docker_image_template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Enable VACUUM ANALYZE at shutdown for CI cache preparation
  scripts/build_data.sh
Due: lint_bash_scripts

Improve tar extraction diagnostics: don't swallow errors, log uid and permissions
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add shared reconnect wrapper for HAF app block processing
  Dockerfile.psql
  haf-app-tools/scripts/run_with_reconnect.sh
Due: none

Use HIVED_UID=1000 instead of $(id -u) for cache dir ownership
  scripts/build_data.sh
  scripts/prepare_data_and_shm_dir.sh
Due: lint_bash_scripts

Fix hived UID 2001 in haf-app-test-runner image
  Dockerfile.haf-app-test-runner
Due: none

Fix NFS host detection inside Docker and orphan eviction under size pressure
  scripts/cache-manager.sh
Due: lint_bash_scripts

Update CI_BASE_IMAGE_VERSION
  docker-bake.hcl
Due: none

Add VACUUM ANALYZE to app sync shutdown for CI cache quality
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

ci: pass buildkitd.toml to buildx builder so docker.io mirror is used
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Remove +unstable references from CI tooling
  renovate/python.json5
  scripts/bash/verify_poetry_lock_stability.sh
Due: lint_bash_scripts

Change boost version in base-ci-image to 1.88.0
  Dockerfile.ci-base-image
Due: none

Add branch fallback and image verification to CI scripts
  scripts/bash/find-upstream-image.sh
  scripts/bash/smart-image-build.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Use fast mode for pg_ctl stop and add cp error checking
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Restore hived_uid.env creation with standardized UID=1000
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Remove hived_admin user — consolidate to single hived user (UID 1000)
  Dockerfile.ci-base-image
  Dockerfile.ci-base-image-ubuntu
  Dockerfile.haf-app-test-runner
Due: none

Update UNSTABLE_VERSION_PATTERN default in CI template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump psql image version to 14-2
  .gitlab-ci.yml
  Dockerfile.psql
  docker-bake.hcl
Due: none

Revert "Add VACUUM ANALYZE to app sync shutdown for CI cache quality"
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Preserve project source-patterns.sh when fetching hive scripts
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Remove unused example CI jobs
  .gitlab-ci.yml
Due: none

Add tar extraction pre-validation and retry for Docker volume mount races
  haf-app-tools/scripts/copy_datadir.sh
Due: none

ci: add package caching proxy variables for npm and pip
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix hived user UID to 1000 with sudo in ci-base-image Dockerfiles
  Dockerfile.ci-base-image
  Dockerfile.ci-base-image-ubuntu
  docker-bake.hcl
Due: none

fix: restore SIGTERM handling in run_with_reconnect.sh
  Dockerfile.psql
  haf-app-tools/scripts/run_with_reconnect.sh
Due: none

Updated preinstalled version of playwright.
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Bumped emsdk image version in npm templates
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bumped playwright in PNPM workspace.
  pnpm-config/pnpm-workspace.yaml
Due: none

Bumped emsdk image in devcontainer.json
  pnpm-config/.devcontainer/devcontainer.json
Due: none
