Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

emsdk image supplemented by helper npm scripts, simplifying common CI steps implementation
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Defined common templates for npm-build, npm-test and npm-publish jobs
  templates/npm_projects.gitlab-ci.yml
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Defined template job base definition: `.npm_push_doc_template'
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Default packages are installed globally to make them available without a need to local installation (especially important for Typescript)
  Dockerfile.emscripten
Due: none

docker build specific job templates should define git safe directory
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Added cache cleanup job
  .gitlab-ci.yml
Due: none

instead of --stop-replay-at-block use --stop-at-block
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

preinstalled NPM package versions unified to the workspace definition
  Dockerfile.emscripten
Due: none

Emscripten image bumped to 3.1.62 version
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Add base tsconfig
  ts-common/tsconfig.base.json
Due: none

Image publishing job execution switched to automatic mode.
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Change from anchor to reference
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fixed bug in npm_generate_version using oldest git-tag instead of newest one
  scripts/bash/npm-helpers/npm_generate_version.sh
Due: lint_bash_scripts

Fix pnpm pack output generation skipping pnpm echo lines
  scripts/bash/npm-helpers/npm_pack_package.sh
Due: lint_bash_scripts

npm_push_doc_template allows to specify different project url (to store documentation in separate Wiki repo)
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Updated emscripten image tag used in CI jobs
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Use PYPROJECT_DIR during poetry install
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Eliminated yaml linter complaints
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

1. Introduced `npm_process_built_package_tarball` base to allow reusing package.tgz unpack code. 2. Added definition of `.registry_npmjs_org_deploy_package_template` job.
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

New emsdk image pointed by EMSCRIPTEN_IMAGE_TAG variable
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Move templates for cache cleanup to common-ci-configuration repo
  templates/cache_cleanup.gitlab-ci.yml
Due: lint_ci_templates

Bumped emsdk image subversion to -5 suffix
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

DIST_TAG value forwarded to npm_generate_version.sh call.
  scripts/bash/npm-helpers/npm_build_package.sh
Due: lint_bash_scripts

Add Wax spec swagger generation steps
  scripts/bash/npm-helpers/npm_build_package.sh
  scripts/bash/npm-helpers/npm_generate_version.sh
  scripts/bash/npm-helpers/npm_pack_package.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fixed before_script in .publish_docker_image_template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated emsdk image tag variable exposed to CI templates
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Store run-pytest args as array, explicitly expose PYTEST default vars
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fixed bug in npm_push_doc_template leading to wrong generation of gen_doc.env artifact
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Removed bad path from devcountainer mount specification
  pnpm-config/.devcontainer/devcontainer.json
Due: none

Bump wax spec generator
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump poetry to 2.1.3 in python_runtime images
  Dockerfile.python_runtime
Due: none

Eliminated latest tag usage from CI jobs to make them reproducible
  .gitlab-ci.yml
Due: none

Added filtering out non-json output produced by pnpm --json option, what leads further processing to fail.
  scripts/bash/npm-helpers/npm_pack_package.sh
Due: lint_bash_scripts

Fixed .deb package paths to satisfy python runtime image builder
  Dockerfile.python_runtime
Due: none

Python U24 development image supplemented by Poetry & sudo installation.
  Dockerfile.python_runtime
Due: none

Added definition of alpine image
  .gitlab-ci.yml
  Dockerfile.alpine
  docker-bake.hcl
Due: none

Added definition of minimized U24 based image containing a python 3.12 runtime + minimal set of tools
  Dockerfile.python_runtime
Due: none

Fix buildkit_cache_cleanup running concurrently with builds
  .gitlab-ci.yml
Due: none

Fix lock file permissions for multi-user/container access
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add a PostgREST image building job
  .gitlab-ci.yml
  Dockerfile.postgrest
  docker-bake.hcl
Due: none

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
