Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Fix workspace permission issue in docker-builder jobs
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix race condition in local tar creation during cache save
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix stale cache extraction causing PostgreSQL tablespace conflicts
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Remove time-based staleness check from copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add stale lock checks before flock operations in cache-manager
  scripts/cache-manager.sh
Due: lint_bash_scripts

haf-app-test-runner: run as hived user for NFS compatibility
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

Add retry logic for docker login to external registry
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix NFS cache directory permissions for multi-UID access
  scripts/cache-manager.sh
Due: lint_bash_scripts

Bump emsdk image revision to 4.0.22-5
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Trigger emsdk image rebuild for revision 5
  Dockerfile.emscripten
Due: none

Add hived image lookup template
  templates/hived_image.gitlab-ci.yml
Due: lint_ci_templates

Add build_emscripten_image.sh to emsdk job trigger paths
  .gitlab-ci.yml
Due: none

Add verify_submodule_ref GitLab CI templates
  templates/verify_submodule_ref.gitlab-ci.yml
Due: lint_ci_templates

Add verify_submodule_ref.sh script
  scripts/bash/verify_submodule_ref.sh
Due: lint_bash_scripts

Fix cache cleanup permission issues and clean stale extractions
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add sync after datadir copy to prevent PostgreSQL DataCorrupted errors
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix race condition in cache-manager GET when concurrent PUT is writing
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix race condition in cache directory cleanup (HAF pipeline 151425)
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add convenience aliases and unified config template for HAF apps
  CLAUDE.md
  docs/haf-app-testing-templates.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add libpqxx 7.8.1 to ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Add retry and pip cache to Python project templates
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix cache validation to check integrity, not just directory existence
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add completion marker to prevent using incomplete cache extractions
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix cache cleanup to also remove orphaned tar files not in LRU index
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix(find_haf_image): fail fast when no HAF image available
  templates/haf_app_testing.gitlab-ci.yml
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Update ci-base-image to use clang 21 from LLVM repository
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Update python_projects template to use common-ci-configuration registry
  docs/common-ci-images.md
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add smart-image-build script and template for intelligent Docker builds
  scripts/bash/smart-image-build.sh
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Increase hive.blog registry retry timeout for load spikes
  haf-app-tools/scripts/build_and_publish_instance.sh
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix permission error when cache already complete
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix HAF cache lock deadlock in concurrent pipelines
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add retry config to docker_image_builder_job_template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix GitLab CI YAML validation error in after_script
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix GitLab CI YAML validation error in python_projects template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix nested !reference array problem in CI templates
  templates/docker_image_jobs.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix GitLab CI YAML parsing issue with after_script in extends chains
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add modular dependency update anchors for poetry
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix detached HEAD for poetry-dynamic-versioning in build/deploy jobs
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

feat: use HashiCorp Vault for external registry credentials
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
