Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Remove global poetry-dynamic-versioning, use requires-plugins with --dry-run
  Dockerfile.ci-base-image
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Reduced size of precompiled static lookup tables in the secp256k1-zkp library. Allows to eliminate > 1.1MB of data segment put into produced WASM binary.
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Fix sqlfluff entrypoint in SQL lint template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Group patch updates per manager instead of one shared MR
  renovate/default.json5
Due: none

Add default HIVE_SCRIPTS_REF to prepare_haf_image template
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add default standard tag to job templates
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Update emsdk image SHA after adding chromium-headless-shell
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add retry config to docker_image_builder_job_template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Phase 3: Add/improve reusable YAML blocks
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Configure tarball paths in CI config
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

feat: add Phase 4 DinD test templates for HAF apps
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

emsdk version bumped to 4.0.22
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Timeout-wrap Docker operations in after_script teardown templates
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

docs: update roadmap with Phase 4 migration completions
  docs/ci-consolidation-roadmap.md
Due: none

Trigger ci-base-image rebuild to push ubuntu24.04-py3.14-3 tag
  Dockerfile.ci-base-image
Due: none

Change orphan cleanup threshold from 7 to 4 days
  docs/cache-manager.md
Due: none

Add smart cache lookup templates with AUTO_SKIP_SYNC support
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: use BLOG_REGISTRY credentials for hive.blog registry
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix stale extraction cleanup in cache-manager
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add pre_get_sources hook templates for git corruption cleanup
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

fix: QUICK_TEST should override AUTO_SKIP in early exit check
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

docs: update roadmap for Phase 4 progress
  docs/ci-consolidation-roadmap.md
Due: none

Add standardized Docker build and publish templates
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add reusable fetch-submodules.sh script
  scripts/fetch-submodules.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add Python 3.12 ci-base-image support
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Use specific docker-builder tag with util-linux in template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: use shared flock for read operations in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

fix: remove cache fallback that allowed different app versions
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add compatibility aliases for detect_changes outputs
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Update python_projects template to use common-ci-configuration registry
  docs/common-ci-images.md
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix: Disable credential helper in wiki push cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Enable Renovate for hive/hive repository
  .gitlab-ci.yml
Due: none

Update docs to reflect completed Docker publishing migration
  docs/ci-consolidation-roadmap.md
  docs/image_publishing_detailed.md
Due: none

Fix cache-manager to preserve RocksDB directories in hive/haf caches
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix GitLab CI YAML validation error in python_projects template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Enable automerge for hiveio ecosystem packages
  renovate/python.json5
Due: none

Add HAF ecosystem repos to Renovate bot job
  .gitlab-ci.yml
Due: none

Fix sync save cache to remove symlinks before copying block_log
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix race condition in HAF cache save with concurrent jobs
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add preinstalled RocksDB build stage to ci-base-image
  Dockerfile.ci-base-image
Due: none
