Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Fix SIGPIPE error in detect_changes when many files changed
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: remove cache fallback that allowed different app versions
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

feat: add shared extract-test-cache.sh script for HAF app test jobs
  scripts/extract-test-cache.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

docs: document extract-test-cache.sh and exact cache key matching
  docs/haf-app-testing.md
Due: none

feat: add FORCE_EXTRACT option and pre-extraction cleanup
  docs/haf-app-testing.md
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

Add default standard tag to job templates
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

fix: support both HAF-style and app-style pgdata paths in extract-test-cache.sh
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

fix: add retry logic to PostgreSQL check in extract-test-cache.sh
  scripts/extract-test-cache.sh
Due: lint_bash_scripts

Fix dependency proxy failures in source change detection templates
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Fix change detection for push pipelines on feature branches
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Empscripten image: boost, openssl and secp256k1-zkp libraries built with -Oz
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_boost.sh
  scripts/bash/emscripten/prepare_openssl.sh
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Fix tar extraction race condition in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Disable buildx attestations to avoid provenance panic
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Move BUILDX_NO_DEFAULT_ATTESTATIONS to docker-builder image
  Dockerfile.docker-builder
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add chromium-headless-shell browser to emsdk image
  Dockerfile.emscripten
Due: none

Update emsdk image SHA after adding chromium-headless-shell
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Remove incorrect SHA from emsdk image tag (use tag only for now)
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add pre_get_sources hook templates for git corruption cleanup
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Add CI_BASE_IMAGE variables to base template
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Add centralized prepare_haf_data templates with standard needs
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Remove .haf_app_prepare_data_with_build template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Use dynamic HAF_COMMIT in AUTO_SKIP_SYNC mode
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix race condition: check cache inside flock, not before
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add generic build_and_publish_instance.sh for HAF apps
  haf-app-tools/scripts/build_and_publish_instance.sh
Due: none

Fix: use local block_log path as default in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add PostgREST configuration pattern for HAF apps
  docs/haf-app-testing.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add combined DinD + Tavern test template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: update tavern/pytest versions for Python 3.12+ compatibility
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

feat: add Python, JMeter, and psql to docker-builder image
  Dockerfile.docker-builder
Due: none

fix: QUICK_TEST should override AUTO_SKIP in early exit check
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Move git cleanup templates to base.gitlab-ci.yml, add aliases in haf_app_testing
  templates/base.gitlab-ci.yml
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add dynamic submodule detection and permission fix to git cleanup template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix submodule transition detection to not break uninitialized submodules
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Add cleanup for extracted cache directories in after_script
  templates/haf_app_testing.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add docker login to publish_docker_image_template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add hive.blog registry login to publish template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Allow hive.blog registry login to fail gracefully
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add reusable hive.blog push component
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

fix: use BLOG_REGISTRY credentials for hive.blog registry
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
