Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

emscripten sdk base image upgraded to 3.1.47 version
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Disabled line lenght checking in YAML linter
  .yamllint
Due: lint_ci_templates

Emscripten image tag (used at `.wasm_build_job_template` updated to latest one. Also `.wasm_build_job_template` job artifacts contain *.js files.
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Extract the common part - deploy_wheel_base
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fixed app service's hostname - ref. hive/hive#406
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

.haf_app_pattern_tests_template allows to perform HAF-APP setup using a dedicated setup-container way
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated Docker builder to add passwordless sudo /bin/rm
  Dockerfile.docker-builder
Due: none

Prerequisites for reusing `.pattern_tests_template` in Hived CI: defined `.pytest_based_template` job definition
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Configured pseudo-submodules from example jbos to use develop branches - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

Reworked docker build jobs - ref. hive/hive#406
  .gitlab-ci.yml
  Dockerfile.docker-builder
  scripts/bash/build-data.sh
  scripts/bash/build-data4commit.sh
  scripts/bash/build-instance.sh
  scripts/bash/common.sh
  scripts/bash/export-binaries.sh
  scripts/bash/get-image4submodule.sh
  templates/data_image_jobs.gitlab-ci.yml
  templates/docker_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

This allows to use common cache across different repos (hafah haf hive)
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated EMSCRIPTEN_IMAGE_TAG in wasm_build template
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

add variables to service jobs
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated README.md
  .gitlab-ci.yml
  README.md
  templates/docker_image_jobs.gitlab-ci.yml
  templates/docker_jobs.gitlab-ci.yml
Due: lint_ci_templates

Git config supplemented by safe_directory entry
  Dockerfile.emscripten
Due: none

Emscripten image extended by protobuf compiler package.
  Dockerfile.emscripten
Due: none

Emscripten version update to 3.1.56
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Updated Emscripten CI build to additionally tag it with commit SHA - ref. !12
  README.md
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_boost.sh
  scripts/bash/emscripten/prepare_openssl.sh
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Updated hived endpoint (in spawn service) to the default one configured in Hived image.
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

wheel deployment jobs supplemented by optional PYPROJECT_DIR usage
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Package manager switched to pnpm
  Dockerfile.emscripten
Due: none

Preinstalled playwright browsers limited to chromium
  Dockerfile.emscripten
Due: none

All job definitions spawning internal services should have enabled network isolation
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Added comparison job template - ref. hive/hive#406
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Changes to improve support for usecases when host user-id is different to docker-internal user-id (i.e. when container is spanwed from MacOS)
  Dockerfile.emscripten
Due: none

Add template for python projects
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Create additional job template deploying to the official PyPI
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Supply GIT_DEPTH=0 jobs with GIT_STRATEGY=clone
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump ci-base-image so new version of poetry will be available
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Updated Docker to 24.0.1
  Dockerfile.docker-builder
  Dockerfile.docker-dind
Due: none

Fixed problems related to pnpm packages caching, especially preinstalled PlayWright browsers.
  Dockerfile.emscripten
Due: none

Dockerfile.emscripten extended by jq tool (needed by wax/beekeeper npm package generators)
  Dockerfile.emscripten
Due: none

Fixed build_docker_dind_image job definition - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

WASM template file uses prebuilt emscripten image based on 3.1.47 version.
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Fixed issues indicated by CI - ref. hive/hive#406
  .gitlab-ci.yml
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add sudo to docker-builder image
  Dockerfile.docker-builder
Due: none

Added Emscripten image build to CI - ref. !12
  .gitattributes
  .gitlab-ci.yml
  Dockerfile.emscripten
  README.md
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_boost.sh
  scripts/bash/emscripten/prepare_openssl.sh
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Added pnp package preinstallation step to cache large and rarely changing dependencies (like PlayWright)
  Dockerfile.emscripten
Due: none

EMSCRIPTEN_IMAGE switched to the image preconfigured for headless PlayWright framework
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Increased default artifact retention time to 24 hours - ref. #3
  .gitlab-ci.yml
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
