Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Use sync -f to flush only target filesystem in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add sudo fallback for rm in fetch-submodules.sh
  scripts/fetch-submodules.sh
Due: lint_bash_scripts

Preserve valid cache when tar extraction fails on existing data
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix runner tag name: public-docker-runner -> public-runner-docker
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

docs: update roadmap to reflect Phase 3 completion
  docs/ci-consolidation-roadmap.md
Due: none

fix: use sudo -u postgres instead of su for pg_ctl stop
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add dynamic submodule detection and permission fix to git cleanup template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix pre_get_sources in base template to detect incomplete clones
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Disable buildx attestations to avoid provenance panic
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add early exit templates and skip pattern presets
  docs/haf-app-testing.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add SOURCE_PROJECT_URL parameter to npm_push_doc.sh for correct branch cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add script fetching mechanism to GitHub Pages templates
  scripts/github-pages/generate_html_docs.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add retry logic for docker login to external registry
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

fix: use sudo for pgdata file validation
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix dependency proxy failures in source change detection templates
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Fix libpam0g download URL returning 404
  Dockerfile.python_runtime
Due: none

Add runtime fetch of run_hived_img.sh for HAF apps without hive submodule
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add Renovate bot support with shared presets
  .gitlab-ci.yml
  renovate/default.json5
  renovate/python.json5
Due: none

fix: properly format IPv6 URLs with brackets for PostgREST
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Allow hive.blog registry login to fail gracefully
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

fix: use sudo for pgdata directory validation
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix race condition in cache-manager GET when concurrent PUT is writing
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix _maybe_cleanup not detecting cache size due to symlink
  scripts/cache-manager.sh
Due: lint_bash_scripts

Update ci-base-image to use clang 21 from LLVM repository
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Fix Docker build rules to use $CI_DEFAULT_BRANCH
  .gitlab-ci.yml
Due: none

Fix race condition in cache directory cleanup (HAF pipeline 151425)
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Increase hive.blog registry retry timeout for load spikes
  haf-app-tools/scripts/build_and_publish_instance.sh
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

fix: handle du non-zero exit code in status command
  scripts/cache-manager.sh
Due: lint_bash_scripts

feat: add local cache cleanup to cache-manager.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Update CLAUDE.md and docs with HAF app testing template documentation
  CLAUDE.md
  docs/haf-app-testing-templates.md
Due: none

Updated EMSCRIPTEN_IMAGE_TAG to use new image across other repos.
  pnpm-config/.devcontainer/devcontainer.json
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Update roadmap: Phase 1 and Phase 2 completed
  docs/ci-consolidation-roadmap.md
Due: none

Use full 40-char commit hash in find-upstream-image.sh
  scripts/bash/find-upstream-image.sh
Due: lint_bash_scripts

Fix orphaned submodule cleanup when .git is missing
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Create composable tavern test templates
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix: use local block_log path as default in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Prevent feature branches from overwriting production image tags
  docker-bake.hcl
Due: none

Add combined DinD + Tavern test template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix change detection for push pipelines on feature branches
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix cache-manager cleanup race condition with LRU index
  scripts/cache-manager.sh
Due: lint_bash_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
