Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Fix: use git -C to avoid changing working directory
  scripts/bash/find-upstream-image.sh
Due: lint_bash_scripts

Fix NFS negative dentry cache preventing file detection in Docker
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix nested !reference array problem in CI templates
  templates/docker_image_jobs.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix blockchain dir ownership for symlink creation
  haf-app-tools/scripts/copy_datadir.sh
Due: none

fix: handle du non-zero exit code with pipefail in local cache cleanup
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix specific to problems when gitlab is accessed from runner in non-authorized way
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Migrate ci-base-image from Ubuntu 24.04 to quay.io/pypa/manylinux_2_28:2026.01.16-1
  Dockerfile.ci-base-image
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add cleanup for extracted cache directories in after_script
  templates/haf_app_testing.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add detailed image publishing documentation
  docs/image_publishing_detailed.md
Due: none

fix: add localhost fallback when IPv6 Docker host is unreachable
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Remove .haf_app_prepare_data_with_build template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Clarify runner tag usage and deprecate standard tag
  docs/image_publishing_detailed.md
Due: none

Fix cache cleanup permission issues and clean stale extractions
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add build_data.sh and CI consolidation roadmap
  docs/ci-consolidation-roadmap.md
  scripts/build_data.sh
Due: lint_bash_scripts

Add cleanup-orphans and cleanup-local commands to docs
  docs/cache-manager.md
Due: none

Fix block_log symlinks for Docker container compatibility
  scripts/build_data.sh
  scripts/prepare_data_and_shm_dir.sh
Due: lint_bash_scripts

Add fetch strategy support templates
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add ccache to CI base image for compiler caching
  Dockerfile.ci-base-image
Due: none

Add cleanup-orphans command to cache-manager.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add fallback logic to find-upstream-image for timing races
  scripts/bash/find-upstream-image.sh
  templates/source_change_detection.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add twiggy and bloaty WASM analysis tools to emsdk image
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add generic build_and_publish_instance.sh for HAF apps
  haf-app-tools/scripts/build_and_publish_instance.sh
Due: none

Bump emsdk image tag to 5.0.2-2 for sccache
  docker-bake.hcl
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

fix: remove --volumes from docker-compose down
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

feat: add shared extract-test-cache.sh script for HAF app test jobs
  scripts/extract-test-cache.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix permission error when cache already complete
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix workspace root permissions in pre_get_sources hook
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Empscripten image: boost, openssl and secp256k1-zkp libraries built with -Oz
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_boost.sh
  scripts/bash/emscripten/prepare_openssl.sh
  scripts/bash/emscripten/prepare_secp256k1-zkp.sh
Due: lint_bash_scripts

Fix typo in docstring to trigger python-scripts image rebuild
  scripts/python/remove-buildkit-cache.py
Due: lint_python_scripts

Fix set -e bug in cache-manager cleanup_stale_locks
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add documentation for HAF app testing templates
  docs/haf-app-testing-templates.md
Due: none

Fix override path preventing downstream script blocks from running
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Fix HAF cache lock deadlock in concurrent pipelines
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add libpqxx 7.8.1 to ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Fix shell compatibility in flock -c strings for dash
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix: use full path to pg_ctl for PostgreSQL shutdown
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add lint, service config, and test helper templates for HAF apps
  docs/CI-IMPROVEMENT-PLAN.md
  docs/haf-app-testing.md
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: prefer IPv4 over IPv6 for Docker host resolution in DinD tests
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Use short SHA for image tagging in build template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add centralized .find_haf_image template for HAF apps
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates
