Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Add nginx and dockerfile syntax images
  .gitlab-ci.yml
  Dockerfile.dockerfile
  Dockerfile.nginx
  docker-bake.hcl
Due: none

Edit terser.ts
  ts-common/terser.ts
Due: none

Fix cross-runner artifact path by using relative paths
  scripts/bash/npm-helpers/npm_pack_package.sh
Due: lint_bash_scripts

Also root project shall be processed during spawning pnpm run scripts
  pnpm-config/.npmrc
Due: none

Use pnpm --recursive processing scheme for install, build and publish phases
  scripts/bash/npm-helpers/npm_build_package.sh
  scripts/bash/npm-helpers/npm_publish.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Use mirrored Docker Hub images to avoid rate limiting
  Dockerfile.alpine
  Dockerfile.emscripten
  Dockerfile.nginx
  Dockerfile.postgrest
  Dockerfile.python-scripts
  Dockerfile.tox-test-runner
Due: none

Use mirrored Docker Hub images to avoid rate limits
  Dockerfile.benchmark-test-runner
  Dockerfile.docker-builder
  Dockerfile.docker-dind
Due: none

Python images are built only when needed
  .gitlab-ci.yml
Due: none

NodeJS version bumped to v22.21.1
  Dockerfile.emscripten
Due: none

dockerfile syntax image version bumped to 1.11
  Dockerfile.dockerfile
  docker-bake.hcl
Due: none

Fix cross-runner path issues in dotenv artifacts
  scripts/bash/npm-helpers/npm_pack_package.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Updated emsdk image tag used at CI and by devcontainer definition reference
  pnpm-config/.devcontainer/devcontainer.json
Due: none

Bumped versions of core Typescript packages
  Dockerfile.emscripten
Due: none

Add TCP port wait to benchmark job template to fix service race condition
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add common-ci-images.md documenting Docker images and usage status
  docs/common-ci-images.md
Due: none

Update CLAUDE.md with docs references and builder infrastructure
  CLAUDE.md
Due: none

Trigger CI base image rebuild with new version tag
  Dockerfile.ci-base-image
Due: none

Adjusted parameters passed to the npm_generate_version.sh during processing public NPM deployment.
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

emsdk image bumped in npm the templates
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump PYTHON_RUNTIME_VERSION
  docker-bake.hcl
Due: none

Add util-linux to docker-builder for NFS flock support
  Dockerfile.docker-builder
Due: none

Poetry lock verification statement updated to match 2.1.3 version
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add ci-base-image with Python 3.14 support
  .gitlab-ci.yml
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Add cache-manager.sh with WAL fix
  scripts/cache-manager.sh
Due: lint_bash_scripts

`.generate_swagger_package` job should not override before_script from extended .node_based_job_base to have properly configured pnpm
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Compile python stdlib so __pycache__ will be already available
  Dockerfile.python_runtime
Due: none

Update emscripten image tag
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Refactor cache-manager to use immutable tar-based local cache
  docs/cache-manager.md
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add python image definition
  .gitlab-ci.yml
  Dockerfile.python
  docker-bake.hcl
Due: none

Bumped LIB/target/module version to ES2022 to try specifying error cause
  ts-common/tsconfig.base.json
Due: none

Fix installing new packages in pnpm workspace root
  pnpm-config/.npmrc
Due: none

Fix buildkit cache cleanup script authentication and error handling
  scripts/python/remove-buildkit-cache.py
Due: lint_python_scripts

Fix KeyError when x-total-pages header is missing
  scripts/python/remove-buildkit-cache.py
Due: lint_python_scripts

Add block log storage documentation to cache-manager.md
  docs/cache-manager.md
Due: none

Update generate_swagger_package base job
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bumped emscripten image tag to another version
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Added helper script responsible for downloading browser extension binaries to be used at testing (Keychain is on the list atm)
  scripts/bash/npm-helpers/npm_download_browser_extensions.sh
Due: lint_bash_scripts

Bump Playwright version from 1.57.0 to 1.58.2
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/pnpm-workspace.yaml
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix SHARED_BLOCK_LOG_DIR variable expansion in cache-manager
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add reusable hive.blog push component
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
