Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

fix: use sudo for pgdata file validation
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: clean local cache directories before copy to prevent nesting
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Use cp -aT instead of rm + cp to prevent nested directories
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Use both rm -rf and cp -aT for robust cache copy
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

feat: add local cache cleanup to cache-manager.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: handle du non-zero exit code with pipefail in local cache cleanup
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: handle du non-zero exit code in status command
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: resolve symlinks before du in status and cleanup
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: resolve NFS symlinks and update default cache limits
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: prefer IPv4 over IPv6 for Docker host resolution in DinD tests
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: add localhost fallback when IPv6 Docker host is unreachable
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add cleanup-orphans command to cache-manager.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

fix: use localhost unconditionally when IPv6 detected in DinD
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: use Docker bridge gateway when IPv6 detected in DinD
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add cleanup-orphans and cleanup-local commands to docs
  docs/cache-manager.md
Due: none

fix: use BusyBox-compatible grep for Docker bridge gateway
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: properly format IPv6 URLs with brackets for PostgREST
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add docker daemon wait loop before BuildKit initialization
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add Python 3.12 ci-base-image support
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Fix copy_datadir.sh cache extraction issues
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Fix Docker data directory permission issues in pattern tests
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: add safe.directory config to fetch-submodules.sh
  scripts/fetch-submodules.sh
Due: lint_bash_scripts

Change orphan cleanup threshold from 7 to 4 days
  docs/cache-manager.md
Due: none

Add sudo fallback for rm in fetch-submodules.sh
  scripts/fetch-submodules.sh
Due: lint_bash_scripts

Add centralized .find_haf_image template for HAF apps
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix race condition in HAF cache creation with concurrent pipelines
  scripts/build_data.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix race condition in HAF cache extraction with concurrent jobs
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix race condition in HAF cache save with concurrent jobs
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix workspace root permissions in pre_get_sources hook
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Fix pg_tblspc symlink race condition in cache extraction
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Ensure shm_dir exists after cache extraction
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Fix SHARED_BLOCK_LOG_DIR variable expansion in cache-manager
  scripts/cache-manager.sh
Due: lint_bash_scripts

Fix stale lock file handling in build_data.sh
  scripts/build_data.sh
Due: lint_bash_scripts

Add retry logic to docker push for transient registry failures
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fix shell compatibility in flock -c strings for dash
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix _maybe_cleanup not detecting cache size due to symlink
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add rules to deploy_wheel_to_gitlab_template for conditional deployment
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
