Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Remove global poetry-dynamic-versioning, use requires-plugins with --dry-run
  Dockerfile.ci-base-image
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump ci-base-image version to pypa_2_28-4
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Enable automerge for hiveio ecosystem packages
  renovate/python.json5
Due: none

Group patch updates per manager instead of one shared MR
  renovate/default.json5
Due: none

Bump Playwright version from 1.57.0 to 1.58.2
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/pnpm-workspace.yaml
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Bump Emscripten compiler version from 4.0.22 to 5.0.2
  Dockerfile.emscripten
  docker-bake.hcl
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add emscripten user creation for emsdk 5.x compatibility
  Dockerfile.emscripten
Due: none

Fix NFS negative dentry cache preventing file detection in Docker
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add PostgreSQL 18 development packages to ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Add Ubuntu-based ci-base-image variant with PostgreSQL 18
  .gitlab-ci.yml
  Dockerfile.ci-base-image-ubuntu
  docker-bake.hcl
Due: none

Fix hardcoded PostgreSQL 17 pg_ctl path for PG18 compatibility
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add HAF ecosystem repos to Renovate bot job
  .gitlab-ci.yml
Due: none

Add preinstalled RocksDB build stage to ci-base-image
  Dockerfile.ci-base-image
Due: none

Extract shared build-deps stage to deduplicate Snappy and CMake builds
  Dockerfile.ci-base-image
Due: none

fixup! Add preinstalled RocksDB build stage to ci-base-image
  Dockerfile.ci-base-image
Due: none

Add sccache to emsdk image for WASM build caching
  Dockerfile.emscripten
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Bump emsdk image tag to 5.0.2-2 for sccache
  docker-bake.hcl
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

chore: Schedule hiveio-ecosystem Renovate updates to weekly
  renovate/python.json5
Due: none

Schedule hiveio-ecosystem Renovate updates to weekly
  renovate/python.json5
Due: none

Add HAF_CACHE_TYPE variable and fetch all build scripts from hive
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Remove unused example CI jobs
  .gitlab-ci.yml
Due: none

Preserve project source-patterns.sh when fetching hive scripts
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Add branch fallback and image verification to CI scripts
  scripts/bash/find-upstream-image.sh
  scripts/bash/smart-image-build.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Remove +unstable references from CI tooling
  renovate/python.json5
  scripts/bash/verify_poetry_lock_stability.sh
Due: lint_bash_scripts

Update UNSTABLE_VERSION_PATTERN default in CI template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Use fast mode for pg_ctl stop and add cp error checking
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add shared reconnect wrapper for HAF app block processing
  Dockerfile.psql
  haf-app-tools/scripts/run_with_reconnect.sh
Due: none

Bump psql image version to 14-2
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

Bump psql image version to 14-2
  .gitlab-ci.yml
  Dockerfile.psql
  docker-bake.hcl
Due: none

Bump psql image version to 14-2
  .gitlab-ci.yml
  Dockerfile.psql
  docker-bake.hcl
  haf-app-tools/scripts/run_with_reconnect.sh
Due: none

Enable VACUUM ANALYZE at shutdown for CI cache preparation
  scripts/build_data.sh
Due: lint_bash_scripts

Add VACUUM ANALYZE to app sync shutdown for CI cache quality
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Revert "Add VACUUM ANALYZE to app sync shutdown for CI cache quality"
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Use HIVED_UID=1000 instead of $(id -u) for cache dir ownership
  scripts/build_data.sh
  scripts/prepare_data_and_shm_dir.sh
Due: lint_bash_scripts

Fix hived user UID to 1000 with sudo in ci-base-image Dockerfiles
  Dockerfile.ci-base-image
  Dockerfile.ci-base-image-ubuntu
  docker-bake.hcl
Due: none

Remove hived_admin user — consolidate to single hived user (UID 1000)
  Dockerfile.ci-base-image
  Dockerfile.ci-base-image-ubuntu
  Dockerfile.haf-app-test-runner
Due: none
