Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Fix NFS host detection inside Docker and orphan eviction under size pressure
  scripts/cache-manager.sh
Due: lint_bash_scripts

Restore hived_uid.env creation with standardized UID=1000
  scripts/build_data.sh
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add ALLOW_UNSTABLE_DEPS variable to poetry lock stability template
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix hived UID 2001 in haf-app-test-runner image
  Dockerfile.haf-app-test-runner
Due: none

Add tar extraction pre-validation and retry for Docker volume mount races
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Improve tar extraction diagnostics: don't swallow errors, log uid and permissions
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Change boost version in base-ci-image to 1.88.0
  Dockerfile.ci-base-image
Due: none

Update CI_BASE_IMAGE_VERSION
  docker-bake.hcl
Due: none

ci: add package caching proxy variables for npm and pip
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Create ci-base-image-haf
  Dockerfile.ci-base-image-haf
  docker-bake.hcl
Due: none

Applying MR suggestions
  Dockerfile.ci-base-image-haf
  docker-bake.hcl
Due: none

add build step build_ci_base_image_haf
  .gitlab-ci.yml
Due: none

ci: pass buildkitd.toml to buildx builder so docker.io mirror is used
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Merged prepare_data_image_job.yml from hive/hive> and hive/haf> - ref. hive/hive#406
  .gitlab-ci.yml
  .yamllint
  README.md
  scripts/bash/delete-image.sh
  scripts/bash/docker_image_utils.sh
  scripts/bash/get_image4submodule.sh
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Added gcc to tox-test runner
  Dockerfile.tox-test-runner
Due: none

New emsdk image version pointed to CI jobs specific to WASM builds.
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

While publishing python package, poetry skips existing ones to avoid CI failure.
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Use stable pylint version
  .gitlab-ci.yml
Due: none

Assigned tags to Docker build jobs - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

Disabled Git directory permission check for publishing job
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated emscripten image tag to use latest one, containing a MacOS specific fixes
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Updated definition of job .build_docker_image - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

Added Docker Bakefile for all Dockerfiles
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

Added custom Docker-in-Docker image, update templates to make image tags configurable via variables - ref. hive/hive#406
  .gitlab-ci.yml
  Dockerfile.docker-builder
  Dockerfile.docker-dind
  Dockerfile.image-remover
  templates/data_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated set and versions of preconfigured TS specific packages, especially Typescript and PlayWright.
  Dockerfile.emscripten
Due: none

Fixed artifact expiration
  .gitlab-ci.yml
  templates/data_image_jobs.gitlab-ci.yml
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated README.md
  README.md
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add option to explicitly specify config path (pyproject.toml) for python static code analysis tools
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

.configuration_template job helper inherits `.job-defaults` to use some default job settings like timeout and artifact expiration times.
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Moved Docker build job rules to specific jobs - ref. hive/hive#406
  .gitlab-ci.yml
Due: none

Fixed formatting error in test job template - ref. hive/hive#406
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Limit PyPI deploy job to run on protected tags only
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Added benchmark job templates and an example benchmark job - ref. hive/hive#406
  .gitlab-ci.yml
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Fixed setting tag variable during Docker image build jobs
  .gitlab-ci.yml
Due: none

Enabled sudo in docker-builder image for all commands
  Dockerfile.docker-builder
Due: none

Updated Docker images to 20.10.21
  .gitlab-ci.yml
  Dockerfile.docker-builder
  Dockerfile.docker-dind
  README.md
  misc/docker-compose.dind.yml
Due: none

Definitions of pattern/comparison tests templates to be shared between Hive/Haf and HAF-apps repos
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

Updated JMeter version since the old one is no longer available for download
  Dockerfile.benchmark-test-runner
Due: none
