Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

install_with_app_lock.py: chmod +x
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

ci-base-image: preinstall cross-built aarch64 RocksDB
  Dockerfile.ci-base-image
Due: none

cache-manager: stop racy post-failure rm -rf of $local_dest
  scripts/cache-manager.sh
Due: lint_bash_scripts

install_with_app_lock.py: degrade gracefully when helpers are missing
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

Bumped playwright in PNPM workspace.
  pnpm-config/pnpm-workspace.yaml
Due: none

Updated preinstalled version of playwright.
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

ubuntu26.04-pg18-2 / haf-app-test-runner 3.1: fc link deps + Java 21 m2u fix
  Dockerfile.ci-base-image-ubuntu
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

copy_datadir: drop stale reference to staging/swap in cache-manager
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Add aarch64 cross toolchain to ci-base-image
  Dockerfile.ci-base-image
  aarch64-toolchain/README.md
  aarch64-toolchain/Toolchain.cmake
  aarch64-toolchain/build-toolchain.sh
  aarch64-toolchain/buildroot.config
  aarch64-toolchain/patches/boost_1_88_upgrade.patch
  aarch64-toolchain/patches/glibc_downgrade.patch
  aarch64-toolchain/patches/snappy_static_build.patch
  docker-bake.hcl
Due: none

Revert "cache-manager: extract into a staging dir and swap it into place"
  scripts/cache-manager.sh
Due: lint_bash_scripts

CI: rebuild psql image when its COPYd wrapper scripts change
  .gitlab-ci.yml
  Dockerfile.psql
Due: none

copy_datadir: stop wiping the shared cache outside the lock
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Bumped emsdk image version in npm templates
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

cache-manager: extract into a staging dir and swap it into place
  scripts/cache-manager.sh
Due: lint_bash_scripts

cache-manager: surface silent mkdir failures before tar extraction
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add install_with_app_lock.py wrapper for HAF app installers
  Dockerfile.psql
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

templates: point PYTHON_IMAGE at canonical ci-base-image tag pypa_2_28-pg18-4
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

ci-base-image-ubuntu: migrate to Ubuntu 26.04
  Dockerfile.ci-base-image-ubuntu
Due: none

Bumped emsdk image in devcontainer.json
  pnpm-config/.devcontainer/devcontainer.json
Due: none

fix: restore SIGTERM handling in run_with_reconnect.sh
  Dockerfile.psql
  haf-app-tools/scripts/run_with_reconnect.sh
Due: none

haf-app-test-runner 3.0: base on ci-base-image-ubuntu 26.04
  .gitlab-ci.yml
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

CI: test the psql image built for this commit when its sources changed
  .gitlab-ci.yml
Due: none

haf-app-tools: generic block-processing driver for HAF applications (haf#341)
  .gitlab-ci.yml
  Dockerfile.psql
  docker-bake.hcl
  haf-app-tools/README.md
  haf-app-tools/scripts/haf_app_driver.py
Due: none

haf_app_testing: locate pg_ctl in the HAF image instead of hardcoding PostgreSQL 17
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Remove tox-test-runner image (no consumers)
  .gitlab-ci.yml
  Dockerfile.tox-test-runner
  docker-bake.hcl
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

ci-base-image: Boost 1.88.0 -> 1.90.0 (pypa_2_28-pg18-5)
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

haf_app_driver.py: hold the application's block-processor advisory locks
  haf-app-tools/scripts/haf_app_driver.py
Due: none

docs: rewrite common-ci-images.md for the 3.14 / 26.04 image layout
  docs/common-ci-images.md
Due: none

templates: PYTHON_IMAGE -> pypa_2_28-pg18-5 (Boost 1.90 image)
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

psql_image_test: merge the two variables blocks so the default image survives
  .gitlab-ci.yml
Due: none

haf_app_driver.py: log file, server-message filtering, slow-range warnings
  haf-app-tools/scripts/haf_app_driver.py
Due: none

haf_app_driver.py: client-side range processors via --process-python
  haf-app-tools/scripts/haf_app_driver.py
Due: none

Onboard common-ci-configuration to AIDEV: .aidev/ profile and lint/test checks
  .aidev/README.md
  .aidev/junit_cases.py
  .aidev/labels.yaml
  .aidev/project.yaml
  .aidev/run-checks.sh
  .aidev/runtime/Dockerfile
  .aidev/runtime/build.sh
  .gitignore
  .gitlab-ci.yml
Due: none

AI implementation: Issue #26: find_haf_image fails for release-pinned apps once haf's registry cleanup deletes the release commit's SHA tag — fall back to the release tag
  docs/image-cache-lookup.md
  scripts/bash/find-upstream-image.sh
  tests/test_find_upstream_image.py
Due: lint_bash_scripts

AI implementation: Issue #27: lint_python_scripts can't run on python 3.14: pylint 2.17.7 crashes and pylint_junit can't load on pylint ≥3 — move to pylint 4 with a json2→junit converter
  .aidev/README.md
  .aidev/project.yaml
  .aidev/run-checks.sh
  .aidev/runtime/Dockerfile
  .gitlab-ci.yml
  .pylintrc
  misc/pylint2junit.py
  tests/test_pylint2junit.py
Due: none

AI implementation: Issue #29: ci: .detect_source_changes installs git with one unretried 'apk add' — a DNS blip on the runner fails the whole pipeline before any test
  templates/haf_app_testing.gitlab-ci.yml
  templates/source_change_detection.gitlab-ci.yml
  tests/test_gating_jobs_no_package_install.py
Due: lint_ci_templates
