Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Fix docker login to use --password-stdin for better shell escaping
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Use echo pipe instead of here-string for docker login
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Remove variable re-declarations that break protected CI vars
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add hive.blog registry push to build_and_publish_instance.sh
  haf-app-tools/scripts/build_and_publish_instance.sh
Due: none

Fix pre_get_sources to detect incomplete clones
  .gitlab-ci.yml
Due: none

Fix pre_get_sources in base template to detect incomplete clones
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Fix orphaned submodule cleanup when .git is missing
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Clean orphaned submodules after removing corrupt .git
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Fix submodule orphan cleanup with increased maxdepth
  templates/base.gitlab-ci.yml
Due: lint_ci_templates

Add standardized Docker build and publish templates
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Add detailed image publishing documentation
  docs/image_publishing_detailed.md
Due: none

Use short SHA for image tagging in build template
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates

Update docs to reflect completed Docker publishing migration
  docs/ci-consolidation-roadmap.md
  docs/image_publishing_detailed.md
Due: none

Add twiggy and bloaty WASM analysis tools to emsdk image
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Optimize OpenSSL build for minimal WASM size
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  scripts/bash/emscripten/prepare_openssl.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Update Playwright to 1.57.0 and bump image tag to 4.0.22-4
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  pnpm-config/pnpm-workspace.yaml
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Clarify runner tag usage and deprecate standard tag
  docs/image_publishing_detailed.md
Due: none

Add ccache to CI base image for compiler caching
  Dockerfile.ci-base-image
Due: none

Bump ci-base-image version to ubuntu24.04-py3.14-3
  docker-bake.hcl
Due: none

Trigger ci-base-image rebuild to push ubuntu24.04-py3.14-3 tag
  Dockerfile.ci-base-image
Due: none

Add hived user to ci-base-image for hive builds
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Replace ccache with sccache in ci-base-image
  Dockerfile.ci-base-image
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

Add image for building wax
  .gitlab-ci.yml
  CLAUDE.md
  Dockerfile.python_runtime
  Dockerfile.wheel-builder
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

fixup! Add image for building wax
  Dockerfile.wheel-builder
Due: none

Replace 'standard' tag with 'public-docker-runner' in CI templates
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix specific to problems when gitlab is accessed from runner in non-authorized way
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Fix runner tag name: public-docker-runner -> public-runner-docker
  templates/base.gitlab-ci.yml
  templates/cache_cleanup.gitlab-ci.yml
  templates/haf_data_preparation.gitlab-ci.yml
Due: lint_ci_templates

Fix: Disable credential helper in wiki push cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Try different approach to disable credential helper
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Fix: Robust credential helper handling in wiki push cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Fix: Prevent corrupted HAF caches from being saved
  scripts/cache-manager.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix: use sudo -u postgres instead of su for pg_ctl stop
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add reusable fetch-submodules.sh script
  scripts/fetch-submodules.sh
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

fix: use full path to pg_ctl for PostgreSQL shutdown
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: remove --volumes from docker-compose down
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

fix: use shared flock for read operations in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

fix: use sudo for pgdata directory validation
  scripts/cache-manager.sh
Due: lint_bash_scripts
