Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt

Add GNU parallel to ci-base-image
  Dockerfile.ci-base-image
Due: none

Migrate ci-base-image from Ubuntu 24.04 to quay.io/pypa/manylinux_2_28:2026.01.16-1
  Dockerfile.ci-base-image
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Build Doxygen from source for glibc 2.28 compatibility
  Dockerfile.ci-base-image
Due: none

Add GitHub Pages documentation deployment scripts and templates
  scripts/github-pages/deploy_github_pages.sh
  scripts/github-pages/doc-index-template.html
  scripts/github-pages/generate_html_docs.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Add script fetching mechanism to GitHub Pages templates
  scripts/github-pages/generate_html_docs.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Normalize version format and add dynamic subdirs listing
  scripts/github-pages/deploy_github_pages.sh
  templates/github_pages.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Auto-detect COMMON_CI_GITHUB_PAGES_REF from submodule
  templates/github_pages.gitlab-ci.yml
Due: lint_ci_templates

Install clang via dnf instead of pre-built LLVM binaries
  Dockerfile.ci-base-image
  docker-bake.hcl
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Fix smart-image-build skipping rebuild when source files changed
  scripts/bash/smart-image-build.sh
Due: lint_bash_scripts

Fix override path preventing downstream script blocks from running
  templates/source_change_detection.gitlab-ci.yml
Due: lint_ci_templates

Add CI fast healthcheck override to sync setup template
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Handle OpenAPI 3.1.0 nullable type lists in SQL generation
  haf-app-tools/python/process_openapi.py
Due: none

Add --version flag to process_openapi.py for API version override
  haf-app-tools/python/process_openapi.py
Due: none

Fix cache-manager tar extraction failure silently ignored
  haf-app-tools/scripts/copy_datadir.sh
  scripts/cache-manager.sh
Due: lint_bash_scripts

Use sync -f to flush only target filesystem in copy_datadir.sh
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Configure tarball paths in CI config
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add NFS retry loop for cache lookups to handle directory attribute caching
  scripts/cache-manager.sh
Due: lint_bash_scripts

Timeout-wrap Docker operations in after_script teardown templates
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

Add template and script to detect unstable dependency versions in poetry.lock
  scripts/bash/verify_poetry_lock_stability.sh
  templates/python_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Make cache-manager put fail when NFS push fails
  scripts/cache-manager.sh
Due: lint_bash_scripts

Preserve valid cache when tar extraction fails on existing data
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add SOURCE_PROJECT_URL parameter to npm_push_doc.sh for correct branch cleanup
  scripts/bash/npm-helpers/npm_push_doc.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fail verify_poetry_lock_stability when poetry.lock is not found
  scripts/bash/verify_poetry_lock_stability.sh
Due: lint_bash_scripts

Bump emsdk image tag from 4.0.22-5 to 4.0.22-6
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Remove obsolete image revision comment from Dockerfile.emscripten
  Dockerfile.emscripten
Due: none

Bump emsdk image tag to 4.0.22-6 to invalidate runner cache
  Dockerfile.emscripten
  docker-bake.hcl
  pnpm-config/.devcontainer/devcontainer.json
  scripts/bash/build_emscripten_image.sh
  templates/npm_projects.gitlab-ci.yml
Due: lint_bash_scripts, lint_ci_templates

Fix libpam0g download URL returning 404
  Dockerfile.python_runtime
Due: none

Add Renovate bot support with shared presets
  .gitlab-ci.yml
  renovate/default.json5
  renovate/python.json5
Due: none

Set rebaseWhen to conflicted to reduce CI load
  renovate/default.json5
Due: none

Limit Renovate throughput to reduce CI load
  renovate/default.json5
Due: none

Skip Docker image builds on Renovate runs without requiring SKIP_DOCKER_BUILDS
  .gitlab-ci.yml
Due: none

Replace branch/MR count limits with hourly rate limits
  renovate/default.json5
Due: none

Process Renovate repos sequentially with configurable delay
  .gitlab-ci.yml
Due: none

Bump Renovate to 43.31 to enable commitHourlyLimit
  .gitlab-ci.yml
Due: none

Replace Renovate count limits with hourly rate limits
  .gitlab-ci.yml
  renovate/default.json5
Due: none

Add schemas, beekeeper and wax repositories to Renovate bot processing
  .gitlab-ci.yml
Due: none

Enable Renovate for hive/hive repository
  .gitlab-ci.yml
Due: none

Fix poetry.lock artifact path to respect PYPROJECT_DIR
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Prevent feature branches from overwriting production image tags
  docker-bake.hcl
Due: none
