Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

cache-manager: surface silent mkdir failures before tar extraction
  scripts/cache-manager.sh
Due: lint_bash_scripts

cache-manager: stop racy post-failure rm -rf of $local_dest
  scripts/cache-manager.sh
Due: lint_bash_scripts

Add install_with_app_lock.py wrapper for HAF app installers
  Dockerfile.psql
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

install_with_app_lock.py: chmod +x
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

install_with_app_lock.py: degrade gracefully when helpers are missing
  haf-app-tools/scripts/install_with_app_lock.py
Due: none

CI: rebuild psql image when its COPYd wrapper scripts change
  .gitlab-ci.yml
  Dockerfile.psql
Due: none

CI: assert wrapper + python3 + psycopg2 in built psql image
  .gitlab-ci.yml
Due: none

Add aarch64 cross toolchain to ci-base-image
  Dockerfile.ci-base-image
  aarch64-toolchain/README.md
  aarch64-toolchain/Toolchain.cmake
  aarch64-toolchain/build-toolchain.sh
  aarch64-toolchain/buildroot.config
  aarch64-toolchain/patches/boost_1_88_upgrade.patch
  aarch64-toolchain/patches/glibc_downgrade.patch
  aarch64-toolchain/patches/snappy_static_build.patch
  docker-bake.hcl
Due: none

ci-base-image: preinstall cross-built aarch64 RocksDB
  Dockerfile.ci-base-image
Due: none

cache-manager: extract into a staging dir and swap it into place
  scripts/cache-manager.sh
Due: lint_bash_scripts

copy_datadir: stop wiping the shared cache outside the lock
  haf-app-tools/scripts/copy_datadir.sh
Due: none

Revert "cache-manager: extract into a staging dir and swap it into place"
  scripts/cache-manager.sh
Due: lint_bash_scripts

copy_datadir: drop stale reference to staging/swap in cache-manager
  haf-app-tools/scripts/copy_datadir.sh
Due: none

ci-base-image-ubuntu: migrate to Ubuntu 26.04
  Dockerfile.ci-base-image-ubuntu
Due: none

python_runtime: migrate to Python 3.14 / Ubuntu 26.04
  Dockerfile.python_runtime
Due: none

haf-app-test-runner 3.0: base on ci-base-image-ubuntu 26.04
  .gitlab-ci.yml
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

Python 3.14 everywhere: bump bake versions, python image, lint image
  .gitlab-ci.yml
  Dockerfile.python
  docker-bake.hcl
Due: none

templates: point PYTHON_IMAGE at canonical ci-base-image tag pypa_2_28-pg18-4
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

ubuntu26.04-pg18-2 / haf-app-test-runner 3.1: fc link deps + Java 21 m2u fix
  Dockerfile.ci-base-image-ubuntu
  Dockerfile.haf-app-test-runner
  docker-bake.hcl
Due: none

ci-base-image: Boost 1.88.0 -> 1.90.0 (pypa_2_28-pg18-5)
  Dockerfile.ci-base-image
  docker-bake.hcl
Due: none

Remove tox-test-runner image (no consumers)
  .gitlab-ci.yml
  Dockerfile.tox-test-runner
  docker-bake.hcl
  templates/test_jobs.gitlab-ci.yml
Due: lint_ci_templates

templates: PYTHON_IMAGE -> pypa_2_28-pg18-5 (Boost 1.90 image)
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

docs: rewrite common-ci-images.md for the 3.14 / 26.04 image layout
  docs/common-ci-images.md
Due: none

haf-app-tools: generic block-processing driver for HAF applications (haf#341)
  .gitlab-ci.yml
  Dockerfile.psql
  docker-bake.hcl
  haf-app-tools/README.md
  haf-app-tools/scripts/haf_app_driver.py
Due: none

CI: test the psql image built for this commit when its sources changed
  .gitlab-ci.yml
Due: none

haf_app_driver.py: hold the application's block-processor advisory locks
  haf-app-tools/scripts/haf_app_driver.py
Due: none

haf_app_driver.py: log file, server-message filtering, slow-range warnings
  haf-app-tools/scripts/haf_app_driver.py
Due: none

haf_app_driver.py: client-side range processors via --process-python
  haf-app-tools/scripts/haf_app_driver.py
Due: none

psql_image_test: merge the two variables blocks so the default image survives
  .gitlab-ci.yml
Due: none

haf_app_testing: locate pg_ctl in the HAF image instead of hardcoding PostgreSQL 17
  templates/haf_app_testing.gitlab-ci.yml
Due: lint_ci_templates

emsdk: Node 24 LTS (v24.21.0), image 5.0.2-4
  Dockerfile.emscripten
  docker-bake.hcl
  docs/common-ci-images.md
Due: none

emsdk: pin the Playwright used to install browsers to the global 1.59.1
  Dockerfile.emscripten
Due: none

npm_projects: default to emsdk 5.0.2-4 (Node 24.21.0)
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

npm_projects: stage npmjs releases with npm stage publish
  CLAUDE.md
  docs/npmjs-staged-publishing.md
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Remove the renovate job; it now runs from hive/renovate-runner
  .gitlab-ci.yml
Due: none

npmjs staged publish: read only NPM_STAGE_TOKEN (drop the NPM_PUBLISH_TOKEN fallback)
  docs/npmjs-staged-publishing.md
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

npmjs staged publish: the logged sha512 is the pnpm-pack tarball's; compare contents, not hashes
  docs/npmjs-staged-publishing.md
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
