Repository openhive-network/common-ci-configuration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint_bash_scripts, lint_ci_templates, lint_python_scripts

lint_bash_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - shellcheck-checkstyle-result.xml
    - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml
  tags:
  - public-runner-docker
  image: koalaman/shellcheck-alpine:${SHELLCHECK_ALPINE_TAG}
  ...

lint_ci_templates:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - yamllint-parsable-result.txt
    - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install yamllint-junit
  ...

lint_python_scripts:
  stage: validation
  artifacts:
    name: validation-results
    when: always
    paths:
    - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml
  tags:
  - public-runner-docker
  image: python:${PYTHON_IMAGE_TAG}
  before_script:
  - pip install pylint==2.17.7 pylint_junit==0.3.2
  script:
  ...

Updated emsdk image tag due to fixes done in embedded scripts
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Updated tag suffix for produced emsdk image.
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Updated EMSCRIPTEN_IMAGE_TAG
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Initial definition of common pnpm config using pnpm catalogs feature
  pnpm-config/.npmrc
  pnpm-config/pnpm-workspace.yaml
Due: none

Added common Hive TS DevContainer specification
  pnpm-config/.devcontainer/devcontainer.json
Due: none

emsdk image tag bumped to -6
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

Improved npm dist-tag detection in case when given commits belongs also to master & develop branches.
  scripts/bash/npm-helpers/npm_generate_version.sh
Due: lint_bash_scripts

Moved BuildKit cache to separate registries
  docker-bake.hcl
Due: none

Fixed generation of swagger version into swagger-doc.json file.
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add more catalogs to pnpm workspace
  pnpm-config/.npmrc
  pnpm-config/pnpm-workspace.yaml
Due: none

Added psql image
  .gitlab-ci.yml
  docker-bake.hcl
Due: none

Updated `EMSCRIPTEN_IMAGE_TAG`
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Regroup CI variables
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

NPM toolset update: - emsdk to 4.0.1 - TypeScript to 5.7.3 - PlayWright to 1.49 - NodeJS to 20.18.1 - PNPM to 9.15.4
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

dind image building jobs should use pure version of docker build template due to lacking git
  .gitlab-ci.yml
Due: none

Defined helper script to push generated documentation into local WIKI repo (specific to NPM projects)
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

pnpm version bumped to 10.0.0 due to corepack limitation (it disallows atm to install any newer)
  Dockerfile.emscripten
Due: none

Defined helper script to build npm package.
  scripts/bash/npm-helpers/npm_build_package.sh
Due: lint_bash_scripts

NodeJS version changed to 20.18.3
  Dockerfile.emscripten
Due: none

Fixed dependency checks for emsdk image builds
  .gitlab-ci.yml
Due: none

.filter_out_swagger_json template generates version and updates it in the produced swagger.json file.
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Add copying of dist, if build happened in different directory
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Add terser script to ts common scripts
  ts-common/terser.ts
Due: none

Remove duplicated dist directory
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

dist-tag detection logic is based directly on informations provided by CI to eliminate branch detection ambiguities
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Defined script to publish npm package ( based on https://gitlab.syncad.com/hive/hive/-/blob/develop/scripts/ci-helpers/npm_publish.sh?ref_type=heads )
  scripts/bash/npm-helpers/npm_publish.sh
Due: lint_bash_scripts

emsdk image extended by zopfli tool to support pure inflate/deflate compression
  Dockerfile.emscripten
  docker-bake.hcl
  scripts/bash/build_emscripten_image.sh
Due: lint_bash_scripts

npm_publish.sh script should accept local mods (to include generated urls to documentation and version info)
  scripts/bash/npm-helpers/npm_publish.sh
Due: lint_bash_scripts

Add TARGET_ENVIRONMENT and WASM_USE_FS options to wasm_build job template
  templates/wasm_build.gitlab-ci.yml
Due: lint_ci_templates

Bumped playwright version to 1.50.1. Unified rollup and ts-proto specification to the versions effectively installed
  pnpm-config/pnpm-workspace.yaml
Due: none

Added Python script for deleting old BuildKit cache from GitLab Docker registry
  .gitlab-ci.yml
  .pylintrc
  Dockerfile.image-remover
  Dockerfile.python-scripts
  docker-bake.hcl
  scripts/python/delete-image.py
  scripts/python/remove-buildkit-cache.py
  scripts/python/requirements.txt
  templates/docker_image_jobs.gitlab-ci.yml
Due: lint_ci_templates, lint_python_scripts

Updated Docker to version 26.1.4
  .gitlab-ci.yml
  Dockerfile.docker-builder
  Dockerfile.docker-dind
  misc/docker-compose.dind.yml
Due: none

Updated EMSCRIPTEN_IMAGE_TAG variable
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

npm_generate_version.sh script takes explicit DIST-TAG value to eliminate faulty branch-based detection
  scripts/bash/npm-helpers/npm_generate_version.sh
Due: lint_bash_scripts

Fixed wiki doc generation to the empty wiki repo.
  scripts/bash/npm-helpers/npm_push_doc.sh
Due: lint_bash_scripts

Updated emscripten image tag in npm templates
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

PNPM package manager version bumped to 9.0.6
  Dockerfile.emscripten
Due: none

Added support for git tags suffixed with subproject name
  scripts/bash/npm-helpers/npm_generate_version.sh
Due: lint_bash_scripts

Copy paste run-pytest anchor from hive repository
  templates/python_projects.gitlab-ci.yml
Due: lint_ci_templates

Update npm_projects.gitlab-ci.yml
  templates/npm_projects.gitlab-ci.yml
Due: lint_ci_templates

Path conditions:
  lint_bash_scripts: any of: scripts/**/*.sh, misc/checkstyle2junit.xslt
  lint_ci_templates: any of: templates/**/*.yml, templates/**/*.yaml, .yamllint, .yamllint.yml, .yamllint.yaml
  lint_python_scripts: any of: scripts/python/**/*.py, scripts/python/requirements.txt
